* {
    outline: red solid 1px;
}

body {
    margin: 0px !important;
    padding: 0px;
}

#root {
    /* background: #4a5360;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px; */
}

.board {
    background: #4a5360;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px;
    line-height: 1.5;
}

.all_wrapper {
    padding-top: 4%;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center
}

.scene_wrapper {
    position: relative;
    width: 980px;
    height: 750px;
    margin: 0 auto
}

.balloon_holder {
    position: absolute;
    left: 0px;
    top: 280px
}

.balloon_white {
    white-space: nowrap;
    font-size: 19px;
    line-height: 1.5em;
    padding: 10px 20px;
    text-align: left;
    z-index: 100;
    letter-spacing: normal;
    border-radius: 10px;
    color: #554b4b;
    background-color: #fff;
    font-style: normal;
    display: inline-block;
    box-shadow: 0 1px 10px 2px rgba(33,55,112,.2),0 1px 2px rgba(0,0,0,.3)
}

.pantry {
    text-align: center;
    position: absolute;
    width: 209px;
    height: 526px;
    left: 767px;
    top: 31px;
    border-radius: 13px;
    background: #7c8a9f;
}

.pantry__text {
    margin: 2px;
    font-size: 25px;
    line-height: 25px;
    padding-top: 5px;
    display: inline-block;
    color: #515a79
}

.pantry__carrot {
    width: 93px;
    height: 43px;
    background-image: url(~Public/bunny_imgs/27.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 5px auto 4px auto;
}

.pantry__carrot--filled {
    background-position: 0 -43px;
}

.table {
    position: absolute;
    left: 214px;
    top: 31px;
    width: 499px;
    height: 499px;
    border: 13px solid #fff;
    border-radius: 11px;
    /* background: #4a962d; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.input {
    width: 40px;
    height: 32px;
    border: 5px solid orange;
    border-radius: 30%;
    text-align: center;
    font-size: 20px;
}

.table__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4A962D;
    /* display: inline-block; */
    vertical-align: top;
    width: 49px;
    height: 49px;
    border-right: 1px solid #428628;
    border-bottom: 1px solid #5ca042;
}

.table__cell--dark {
    background: #348e2a;
    border-right-color: #2e7f24;
    border-bottom-color: #48993f;
}

.table__cell--road {
    background: #ffe562;
}

.table__cell__text {
    /* text-align: center; */
    font-size: 20px;
}

.input--wrong {
    color: red;
}

.tree1 {
    position: absolute;
    z-index: 2;
    width: 665px;
    height: 217px;
    left: 95px;
    top: 531px;
    background-image: url(~Public/bunny_imgs/19.png);
}

.tree2 {
    position: absolute;
    z-index: 2;
    width: 265px;
    height: 102px;
    left: 351px;
    top: -64px;
    background-image: url(~Public/bunny_imgs/17.png);
}

.bunny {
    position: absolute;
    transform: translate(-90px, -30px);
    height: 107px;
    width: 80px;
    background-image: url(~Public/bunny_imgs/23.png);
    background-repeat: no-repeat;
    transition: 1s;
}

.carrots_holder{
    position: absolute;
    left: 0;
    top: 115px;
    height: 160px;
    width: 170px;
    z-index: 1;
}

.carrot{
    position: absolute;
    width: 43px;
    height: 173px;
    overflow: hidden;    
}

.carrot_img {
    position: absolute;
    width: 43px;
    height: 93px;
    top: 15px;
    background-image: url(~Public/bunny_imgs/25.png);
    background-repeat: no-repeat;
    background-position: 0 0;    
}


.card_back {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 12px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-decoration: none
}

.card_back:hover {
    color: #fff;
    text-decoration: underline
}

.card_back:hover .pointer {
    border-color: #fff
}


.card_back .pointer {
    position: absolute;
    z-index: 1;
    width: 12px;
    height: 12px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    top: 2px;
    right: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}


.entrance, .exit, .exit .door {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat
}

.entrance {
    left: -15px;
    z-index: 20;
    width: 16px;
    height: 74px;
    background-image: url(~Public/bunny_imgs/29.png)
}



.exit {
    left: 100%;
    z-index: 20;
    width: 51px;
    height: 124px;
    background-image: url(~Public/bunny_imgs/31.png)
}



.exit .door {
    z-index: 1;
    width: 45px;
    height: 61px;
    left: 0;
    top: 27px;
    background-image: url(~Public/bunny_imgs/33.png)
}
