body {
    height: 100%;
    margin: 0px;
    padding-bottom: 95px;
    font-family: 'PT Sans',sans-serif;
}

.page {
    padding-bottom: 95px;
}

.bg_cell,
.bg_color_stuff,
.bg_stuff {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

div.bg_cell {
    background-image: url(../../public/bg_cell.png);
}
div.bg_color_stuff{
    background-image: url(../../public/bg_color_stuff.png);
}
div.bg_stuff {
    background-image: url(../../public/bg_stuff.png);
}
img.bg_color {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

body .box_content {    
    position: relative;
    width: 960px;
    min-height: 600px;
    border-radius: 15px;
    background: white;
    margin: 15px auto 20px;
    z-index: 0;
}

body .box_head{
    line-height: 49px;
    position: relative;
    padding: 0 20px;
}

body .box_head.with_progress {
    border-bottom: 1px solid rgba(150,150,150,0.5);
}

body .box_head .back-link {
    font-size: 18px;
    color: rgb(39, 125, 175);
    text-decoration: none;
}

body .box_head .back-link .arrow-left {
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid white transparent;
    border-bottom: 15px solid white transparent;
    border-right: 15px solid blue ;
    position: relative;
    border-radius: 50%;
}

/*body .box_head .back-link .arrow-left::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -18x;
    top: -15px;
    border-top: 15px solid white transparent;
    border-bottom: 15px solid white transparent;
    border-right: 15px solid white;
}*/

body .bar_wrapper {
    font-size: 14px;
    text-align: center;
    margin-top: -54px;
    padding: 0 80px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.bar_wrapper .inner_progress {
    margin: 0 auto;
    width: 465px;
    height: 26px;
    border-radius: 16px;
    background: #EDEDED;
    position: relative;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.22);
}

.inner_progress i {
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(../../public/ball_progress.png);
    position: absolute;
    top: 3px;
    transition: left 200ms linear;
    -webkit-transition: left 200ms linear;
}

.card_content {
    text-align: center;
    position: relative;
    width: 960px;
    min-height: 483px;

}

.card_content .line {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    line-height: 1.5;
}

.game_field_under {
    background-color: bisque;
    width: 875px;
    height: 83px;
    display: inline-block;
    margin-top: 160px;
    position: relative;
    border-radius: 10px;
    text-align: center;
}

.number_axis_inner {
    position: relative;
    width: 780px;
    height: 22px;
    line-height: 22px;
    margin: 9px 0 0 35px;

}

.axis {
    position: absolute;
    top: 11px;
    left: 0;
    width: 815px;
    height: 2px;
    margin-top: -1px;
    background: #7f7d6e;
}

.a_border {
    position: absolute;
    top: 0;
    height: 22px;
    width: 3px;
    background: #000;
}
.a_border.a_start {
    left: 0px;
}
.a_border.a_end {
    right: -2px;
}
.a_border span {
    width: 40px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 31px;
    left: -18px;
    font-size: 27px;
    line-height: 27px;
}
.end_arrow {
    position: absolute;
    right: 0;
    top: -6px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #7f7d6e;
    border-right: 2px solid #7f7d6e;
    transform: rotate(45deg);
}

.decimal {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 39px;
    margin-top: 2px;
}

.decimal.divider span {
    width: 3px;
    margin-left: 0px;
    
}

.decimal > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 1px;
    background: #000;
    border-left: 0px solid #000;
    box-sizing: border-box;
}

.game_field_under .number.big {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: -25px;
    width: 50px;
    text-align: center;
    font-weight: 700;
}

.game_field_under .number.big.size {
    font-size: 27px;
    line-height: 27px;
    top: 29px;
}

.decimal .mm {
    display: inline-block;
    border-left: 1px solid #000;
    height: 8px;
    margin-top: 5px;
    vertical-align: top;
    width: 8px;
    box-sizing: border-box;
}

.decimal .mm.fst {
    border-left: 0px solid;
    width: 7px;
}

.ball_wrapper {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -38px;
    height: 150px;
    width: 856px;
}

.ball_wrapper span {
    display: inline-block;
    font-size: 45px;
    line-height: 45px;
    margin-top: 16px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.ball_wrapper .ball {
    position: absolute;
    z-index: 1;
    width: 76px;
    height: 76px;
    border-radius: 38px;
    text-align: center;
}

.ball .state {
    position: absolute;
    z-index: 1;
    border-radius: 38px;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transition: ease-out;
    background-image: url(../../public/ball_state.png);
}

.ball .state.wrong {
    background-position: -266x -38px;
}

.ball .state.right {
    background-position: -38px -38px;
}