body {
    height: 100%;
    margin: 0px;
    padding-bottom: 80px;
    font-family: 'PT Sans',sans-serif;
}

.ruler-game {
    text-align: center;
    position: relative;
    width: 960px;
    min-height: 483px;
    user-select: none;
}

.ruler-game .line {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    line-height: 1.5;
}

.ball_wrapper {
    position: absolute;
    z-index: 1;
    bottom: 232px;
    left: 39.5px;
    height: 150px;
    width: 856px;
}

.ball_wrapper span {
    display: inline-block;
    font-size: 45px;
    line-height: 45px;
    margin-top: 16px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.ball_wrapper .ball {
    position: absolute;
    z-index: 1;
    width: 76px;
    height: 76px;
    border-radius: 38px;
    text-align: center;
    background-repeat: no-repeat;
    background: #81ccea;
    transition: background 1s ease-out;
    box-shadow: 5px -13px 13px 7px #5c88b7 inset;
}
.ball_wrapper .ball .stick {
    top: 100%;
    left: 50%;
    width: 1px;
    height: 74px;
    background: #5288b4;
    position: absolute;
}

.ball_wrapper .ball .point {
    position: absolute;
    top: 100%;
    left: 0;
    width: 5px;
    height: 6px;
    margin: -4px 0 0 -2px;
    border-radius: 5px;
    background: #5288b4;
}

.ball_wrapper .ball:hover {
    opacity: 0.9;
}

.ruler-field {
    background-color: #faf3c9;
    width: 875px;
    height: 83px;
    display: inline-block;
    margin-top: 160px;
    position: relative;
    border-radius: 10px;
    text-align: center;
}

.ruler {
    position: relative;
    width: 780px;
    height: 22px;
    line-height: 22px;
    margin: 9px 0 0 35px;

}

.axis {
    position: absolute;
    top: 11px;
    left: 0;
    width: 815px;
    height: 2px;
    margin-top: -1px;
    background: #7f7d6e;
}

.a_border {
    position: absolute;
    top: 0;
    height: 22px;
    width: 3px;
    background: #000;
}
.a_border.a_start {
    left: -1px;
}
.a_border.a_end {
    right: -2px;
}
.a_border span {
    width: 40px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 31px;
    left: -18px;
    font-size: 27px;
    line-height: 27px;
}
.end_arrow {
    position: absolute;
    right: 0;
    top: -6px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #7f7d6e;
    border-right: 2px solid #7f7d6e;
    transform: rotate(45deg);
}

.mm {
    display: inline-block;
    border-left: 1px solid #000;
    height: 8px;
    margin-top: 7px;
    vertical-align: top;
    width: 8px;
    box-sizing: border-box;
    left: -1px;
}

.mm.fst {
    border-left: 1px solid;
    width: 7px;
    height: 18px;
    vertical-align: center;
    margin-top: 2px;
}

.mm.fst.even {
    border-left: 2.25px solid;
}

.number_center {
    top: 31px;
    text-align: center;
    position: absolute;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    left: 375px;
}

.cover {
    position: relative;
    height: 22px;
    width: 780px;
}


