body {
	margin: 0;
}

.progress {
	display: flex;
	align-items: center;
	margin: -39px auto 5px;
	width: 465px;
	height: 26px;
	border-radius: 16px;
	background: #EDEDED;
	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.22),inset 0px 1px 3px 0px rgba(0,0,0,0.18);
}

.progress__bead {
	display: inline-block;
	left: 0px;
	margin-left: 3px;
	width: 21px;
	height: 21px;
	border-radius: 10px;
	background-image: url(~Public/ball_progress.png);
	position: relative;
	transition: left 200ms linear;
}

.box {
	position: relative;
	margin: 15px auto 20px;
	width: 960px;
	min-height: 600px;
	border-radius: 15px;
	background: #FFFFFF;
	box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5),0px 2px 4px 0px rgba(0,0,0,0.5)
}

.box__head {
	line-height: 49px;
	position: relative;
	padding: 0 20px;
	border-bottom: 1px solid rgba(150,150,150,0.29);
}

.back {
	font-size: 18px;
	text-decoration: none;
	color: #246EA1;
}

.back__arrow {
  border: solid #246EA1;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
	transform: rotate(135deg);
}

.bg_cell,
.bg_color_stuff,
.bg_stuff {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.bg_cell {
    background-image: url(~Public/bg_cell.png);
}

.bg_color_stuff{
    background-image: url(~Public/bg_color_stuff.png);
}

.bg_stuff {
    background-image: url(~Public/bg_stuff.png);
}

.bg_color {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
