#lecturer-component {
@import url('https://fonts.googleapis.com/css?family=Signika');

$light: #fff;
$dark: #21213d;
$col1: #1cc7d0;
$col2: #2ede98;
$col3: #3369e7;

$time: 500ms;
$cubic: cubic-bezier(0.06, 0.63, 0.91, 0.66);

$aside: 25vw;
$size: 0.25em;

*,
::before,
::after {
  box-sizing: border-box;
}

margin: 0;
height: 100vh;
line-height: 1.5;
font-family: 'Signika', cursive;
font-weight: 300;

a {
  text-decoration: none;
  color: $col3;
}

#check {
  display: none;

  + label {
    position: absolute;
    top: $size * 4;
    left: $size * 4;
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &::before {
      position: absolute;
      content: '';
      top: -1em;
      left: -1em;
      width: 100vw;
      background-color: rgba($dark, 0.5);
      transform-origin: 50% 50%;
      transform: scale(1.3);
      visibility: hidden;
      opacity: 0;
      transition: all $time / 2 linear;
    }

    svg {
      margin-right: 0.5em;
      
      path {
        transform-origin: 35% 50%;
        transition: transform $time / 3 $cubic;
      }
    }
  }

  &:checked + label {
     ~ aside {
      transform: none;
    }
    
    &::before {
      left: calc(25vw - 1em);
      transform: scale(1);
      visibility: visible;
      opacity: 1;
      
      @media (max-width: 576px) {
        left: calc(50vw - 1em);
      }
    }
    
    svg {
      #one {
        transform: rotate(45deg);
      }
      #two {
        transform: rotate(-45deg);
      }
    }
  }

  &:checked + label {
    ~ article {
      z-index: -1; // set value in case of position transform-origin: x -* %
      transform: translateX(25vw) scale(0.7);
      border-radius: $size;
      user-select: none;
      pointer-events: none;
    }
  }
}

aside,
article {
  padding: ($size * 10) ($size * 4) $size;
  transition: all $time / 2 $cubic;
}

aside {
  position: absolute;
  width: $aside;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(
    45deg, 
    $col3, 
    $col2
  );
  transform: translateX(-100%);
    
  @media (max-width: 576px) {
    width: $aside * 2;
  }
}

article {
  height: 100vh;
  position: relative;
  transform-origin: 10% 50%; // change for position
  width: 100%;
  background-image: linear-gradient(
    45deg,
    $col1,
    $col2
  );

  .wrapper {
    margin: auto;
    padding: 2em;
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h1 {
      margin: 0;
    }
    
    .footer {
      text-align: right;
    }
  }
}

.top {
  display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 100%;
    margin: 20px 0px;
}

}